---
import Layout from '../layouts/Layout.astro';
import { TalkingEscher } from '../components/TalkingEscher';
import audio from "../assets/audio/escher1.mp3";
---

<Layout title="Welcome to Astro.">
	<main>
		<TalkingEscher client:only audio={audio}></TalkingEscher>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
